/*==========================================
            ANIMACIONES
==========================================*/

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(35px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.hero-content{

    animation:fadeUp .8s ease;

}

.product-card{

    animation:fadeUp .6s ease;

}