/*==========================================
                RESET
==========================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:var(--font-main);

    background:var(--color-background);

    color:var(--color-text);

    overflow-x:hidden;

}

img{

    max-width:100%;

    display:block;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

section{

    padding:var(--section-space) 0;

}

.container{

    max-width:1320px;

}