<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

<footer class="bg-dark text-center text-white">
  <div class="container p-4">
      <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1 btn-lg" href="https://www.facebook.com/profile.php?id=100063646402589" target="_blank" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1 btn-lg" href="https://www.instagram.com/maderartexalapa?igsh=dXRoaG10ejcwNWNz" target="_blank" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <a data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1 btn-lg" href="https://wa.me/+5212281821259" target="_blank" role="button">
        <i class="fab fa-whatsapp"></i>
      </a>
  </div>

  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2026 Copyright:
    <a class="text-white text-decoration-none" href="/index.html">Maderarte.com</a>
  </div>
</footer>