<footer class="footer">
    <div class="footer-wrapper">
        <h2 class="footer-title">Calidad y corazón en cada taza</h2>
        <div class="footer-grid">

            <div class="footer-brand">
                <a href="/">
                    <img src="/public/logos/loloscafe-vector.svg" alt="Lolo's Café">
                </a>

                <div class="footer-social-icons pt-3">
                    <a href="https://www.facebook.com/profile.php?id=61551242182463" target="_blank" title="Facebook">
                        <img class="h-100" src="/public/icons/facebook-icon.svg" alt="Facebook Icono">
                    </a>
                    <a href="https://www.instagram.com/loloscafee" target="_blank" title="Instagram">
                        <img class="h-100" src="/public/icons/instagram-icon.svg" alt="Instagram Icono">
                    </a>
                    <a href="tel:+526981123417" title="Teléfono">
                        <img class="h-100" src="/public/icons/cellphone-icon.svg" alt="Celular Icono">
                    </a>
                    <a href="/admin/users.html" title="Admin Page">
                        <img class="h-100" src="/public/icons/person-lock.svg" alt="Admin Icono">
                    </a>
                </div>
            </div>



            <div class="footer-block">
                <h3>Dirección</h3>
                <a target="_blank" href="https://maps.app.goo.gl/D9avTdeEV6jmAcP86"
                    class="text-decoration-underline text-dark">
                    <p>Presa Miguel Hidalgo 485<br>
                        Gustavo Díaz Ordaz<br>
                        81343
                    </p>
                </a>

            </div>

            <div class="footer-block">
                <h3>Horarios</h3>
                <p>Descansamos los martes<br>
                    11:00 a.m. - 9:00 p.m.
                </p>
            </div>

            <div class="footer-links">
                <a href="/UI/faqs.html">Preguntas frecuentes</a>
                <a href="/UI/privacy-policy.html">Aviso de privacidad</a>
            </div>

        </div>
    </div>
</footer>