<header class="header bg-dark">
    <div class="container-fluid pe-5">
        <div class="row align-items-center py-2">

            <!-- LOGO -->
            <div class="col-md-4 text-center text-md-start">
                <a href="/index.html" class="text-decoration-none">
                    <img src="/src/images/logos/maderarte-image.webp" alt="Maderarte Logo" class="img-fluid" style="max-width: 100px;">
                </a>
            </div>

            <!-- NAV -->
            <div class="col-md-8 d-flex justify-content-end">
                <nav>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold fs-5" href="/index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold fs-5" href="/contact-us/contac-us.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold fs-5" href="/about%20us/about-us.html">Nosotros</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</header>
