<!-- Enlazando el CSS al componente -->
<link rel="stylesheet" href="/src/styles/header.css">

<header class="header bg-dark p-1">
    <div class="container-fluid pe-5">
        <div class="row align-items-center py-2">

            <!-- LOGO -->
            <div class="col-md-4 text-center text-md-start">
                <a href="/index.html" class="text-decoration-none">
                    <img src="/src/images/logos/maderarte-image.webp" alt="Maderarte Logo" class="img-fluid"
                        style="max-width: 100px;">
                </a>
            </div>

            <!-- NAV -->
            <div class="col-md-8 d-flex justify-content-end">
                <nav>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <!-- Agregamos nuestra clase custom-hover -->
                            <a class="nav-link fw-bold fs-5 custom-hover" href="/index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold fs-5 custom-hover"
                                href="/contact-us/contact-us.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold fs-5 custom-hover" href="/about%20us/about-us.html">Nosotros</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>